{% extends 'gestion/base.html' %}

{% block title %}{% if form.instance.pk %}Editar Empleado{% else %}Crear Nuevo Empleado{% endif %}{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{% if form.instance.pk %}Editar Empleado{% else %}Crea un Nuevo Empleado{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-grid">
            {{ form.as_p }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Guardar Empleado</button>
            <a href="{% url 'empleado-list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}